<%- include('includes/head') %>
<%- include('includes/navbar') %>
<link rel="stylesheet" href="css/main.css">

<body id="list-body">            
    <div id="container">
      <% times.forEach(time => { %>
          <form action="/usuarios/<%=time.id%>/membros" method="get">
            <h4>
            <p style="text-transform: uppercase;">
              <%= time.nome %>
            </p>
            </h4>
              <button style="background-color: rgba(0, 0, 0, 0.753);" type="submit">Ver membros</button>
            </form>
            <br />
            <form action="/usuarios/<%=time.id%>/agenda" method="get">
                <button style="background-color: rgba(0, 0, 0, 0.753);" type="submit">Ver agenda</button>
            </form>
          <br />
        <% }) %>
    </div>
</body>